.main {
    display: flex;
    padding-top: 5rem;
    overflow: hidden;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    gap: 20px;
   
}
.hero {
    /* padding-left: 20%; */
    margin: 5px;
    width: max-content;
    padding-top: 6rem;
    /* width: 20%; */
}
.HeroImg {
    width: 80rem;
    padding-right: 20%;
    
}
.HeroTitle {
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-wrap: wrap;
}
.Desc {
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    
}
.Btn {
    border: 1px solid black;
    color: black;
    border-radius: 20px;
    padding: 10px;
    background-color: rgb(255, 230, 0);
    cursor: pointer;
}


@media (max-width: 992px) {
    .hero {
        width: 40%; 
        padding-left: 10%; 
    }
    .HeroImg {
        width: 100%; 
        padding-right: 0;
    }
}

/* Media query for mobile devices */
@media (max-width: 768px) {
    .main {
        flex-direction: column;
        padding-top: 5rem;
        flex-wrap: wrap;
    }
    .hero {
        width: 100%; /* Hero takes full width */
        padding-left: 0; /* Remove padding */
    }
    .HeroTitle {
        font-size: 30px; /* Reduce font size for smaller screens */
    }
    .Desc {
        font-size: 15px; /* Adjust font size for readability */
    }
}

/* Media query for extra small devices */
@media (max-width: 480px) {
    .HeroTitle {
        font-size: 24px; /* Further reduce font size */
    }
    .Desc {
        font-size: 14px; /* Further reduce font size for descriptions */
    }
    .Btn {
        padding: 8px; /* Adjust button padding */
    }
}
