:root {
    --background-color: #ffffff;
    --text-color: #000000;
    --primary-button-bg: #ffffff;
}

body.dark-mode {
    --background-color: #121212;
    --text-color: #ffffff;
    --primary-button-bg: #26a069; /* Adjusted for your specific color request */
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
}

button.dark-mode {
    background-color: #26a069;
    border: none;
    color: var(--text-color);
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}